@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap");
/* Reset */
*, *:focus, *:hover {
  outline: none;
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General */
body, html {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border-color: transparent;
}

.contact-info-button {
  color: #fff;
  background-color: #3483fa;
  border-radius: 7px;
}

.contact-info-button:hover {
  background-color: #2f7ae9;
  cursor: pointer;
}

.contact-links-container {
  font-size: 21px;
}
.contact-links-container .contact-info-button {
  font-size: 21px;
  color: #fff;
  background-color: #3483fa;
  border-radius: 7px;
  padding: 7px;
  margin: 7px;
}
.contact-links-container .contact-info-button:hover {
  background-color: #2f7ae9;
  cursor: pointer;
}
.contact-links-container .resume-link {
  font-size: 21px;
  color: #3a89ff;
  cursor: pointer;
  margin: 7px;
}
.contact-links-container .resume-link:hover {
  color: #5f9fff;
}

#main-content {
  display: flex;
  flex-direction: column;
  /* Home */
  /* Sections */
}
#main-content header {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-end;
  position: fixed;
  z-index: 3;
}
#main-content header ul {
  padding: 7px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
#main-content header ul li {
  padding: 5px;
}
#main-content header ul .contact-info-button {
  font-size: 14px;
  padding: 7px;
}
#main-content #home .container {
  height: 77vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url("../images/background-e.jpg") no-repeat center center/cover;
  color: #fff;
}
#main-content #home .container .sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 21px;
  margin-left: 49px;
}
#main-content #home .container .sub-container h1 {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 35px;
}
#main-content #home .container .sub-container #subtitle {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  font-size: 28px;
}
#main-content #home .container .sub-container div button, #main-content #home .container .sub-container div a {
  margin: 28px 7px 7px 7px;
  cursor: pointer;
}
#main-content #home .container .sub-container div a {
  color: #aaccff;
}
#main-content #home * {
  z-index: 2;
}
#main-content #home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 77vh;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}
#main-content .html5 {
  color: red;
}
#main-content .css3 {
  color: #3698d5;
}
#main-content .javascript {
  color: #eeca00;
}
#main-content .github {
  color: #570657;
}
#main-content .react {
  color: #00d8ff;
}
#main-content .python {
  color: #347ab5;
}
#main-content .angular {
  color: #b52e32;
}
#main-content .nodejs {
  color: #66a162;
}
#main-content .sass {
  color: #cf649a;
}
#main-content .section {
  padding: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#main-content .section h2 {
  padding: 7px;
}
#main-content .section .container {
  padding: 7px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#main-content #projects .container {
  flex-direction: row;
  align-items: flex-start;
}
#main-content #projects .container .element {
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 35px;
}
#main-content #projects .container .element .image-url img {
  height: 210px;
  width: 210px;
  border-radius: 7px;
  object-fit: cover;
  object-position: center;
}
#main-content #projects .container .element .title-url span {
  font-size: 18px;
  white-space: nowrap;
}
#main-content #projects .container .element .github-url {
  overflow: hidden;
  white-space: nowrap;
  max-width: 80%;
}
#main-content #projects .container .element .github-url span {
  text-overflow: ellipsis;
}
#main-content #projects .container .element .main-tech-container {
  display: flex;
  flex-direction: row;
}
#main-content #projects .container .element .main-tech-container .tech-container {
  padding: 5px;
}
#main-content #skills .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#main-content #skills .container .element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 35px;
  margin: 7px 35px;
}
#main-content #contact-info-shadow {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 4;
}
#main-content #contact-info-shadow .contact-info-container {
  z-index: 5;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 7px;
  padding: 7px;
  max-width: 90%;
}
#main-content #contact-info-shadow .contact-info-container #contact-info-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px;
  border-bottom: 1px solid #ebe9e9;
  color: #333333;
}
#main-content #contact-info-shadow .contact-info-container #contact-info-header .name-title {
  font-size: 21px;
  font-weight: 300;
}
#main-content #contact-info-shadow .contact-info-container #contact-info-header i {
  cursor: pointer;
}
#main-content #contact-info-shadow .contact-info-container .contact-info-title {
  font-size: 21px;
  font-weight: 300;
  padding: 7px;
  color: #333333;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container {
  display: flex;
  flex-direction: column;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 7px;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method i {
  color: #4b4b4b;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container {
  display: flex;
  flex-direction: column;
  padding: 0px 7px 7px 7px;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container .contact-method-title {
  font-size: 21px;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container .contact-method-adress-url {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  color: #3a89ff;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container .contact-method-adress-url i {
  color: inherit;
}
#main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container .contact-method-adress-url:hover {
  color: #5f9fff;
}
#main-content #contact-info-shadow[is-visible=true] {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 800px) {
  #main-content #home .container {
    justify-content: center;
  }
  #main-content #home .container .sub-container {
    margin: 0;
    padding: 0;
  }
  #main-content #contact-info-shadow .contact-info-container .contact-methods-container .contact-method .contact-method-span-container .contact-method-adress-url {
    max-width: 231px;
  }
}

/*# sourceMappingURL=main.css.map */
